<div class="bg-cover pd-header about-cover has-video">
    <video class="bg-cover-video lazy-video" autoplay muted loop playsinline preload="none"
           data-random="1"></video>
    <div class="container">
    <%- partial('_partial/bg-cover-content') %>
    </div>
</div>
